@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.feature{
    padding: 40px 0px;
    h1{
        font-family: @headingFont;
        text-align: center;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    p{
        font-family: @textFont;
        text-align: center;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-size: 17px;
    }
    .underline{
        border-bottom: 2px solid  rgb(84, 233, 84);
    }
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 0px;
    }
}