<div class="feature">
    <h1>Ou<span class="underline">r Featur</span>es</h1>
    <p>we provide services at competitive price to provide the quality services to our customers.</p>
    <div class="container">
        <div class="row p-0 m-0 d-flex w-100">
            <div class="col-md-4 col-sm-12 mb-3">
                <ws-feature-card title="We're Profitable" discription="we Provide profit at all time"></ws-feature-card>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <ws-feature-card title="We're Profitable" discription="we Provide profit at all time"></ws-feature-card>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <ws-feature-card title="We're Profitable" discription="we Provide profit at all time"></ws-feature-card>
            </div>
        </div>
    </div>
</div>