@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.signup{
    top: 20px;
    .container{
        padding: 0px 0px;
          .formdiv{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            h1{
                font-family: @headingFont;
                font-size: 30px;
                padding: 0px 0px;
                letter-spacing: 1px;
            }
            .googlebutton{
                width: 100%;
                font-family: @headingFont;
                letter-spacing: 1px;
                height: 40px;
            }
        }
    }
}