<div class="contactus">
    <div class="maindiv">
        <div class="container">
            <h1>Contact Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor odit dolorum assumenda, consequatur
                consequuntur veniam nihil similique, ab, natus rem labore quis quibusdam ad iusto. Laboriosam facere
                inventore cumque delectus!</p>
            <div class="row w-100 m-0 p-0">
                <div class="col-md-6">
                    <div class="leftDiv">
                        <div class="singlecard">
                            <div class="icondiv">
                                <i class="fa fa-map-marker fa-lg"></i>
                            </div>
                            <div class="desdiv">
                                <h4>Address</h4>
                                <h5>Matropoils Mall Hisar</h5>
                            </div>
                        </div>

                        <div class="singlecard">
                            <div class="icondiv">
                                <i class="fa fa-phone fa-lg"></i>
                            </div>
                            <div class="desdiv">
                                <h4>Phone</h4>
                                <h5>+91 9192939495</h5>
                            </div>
                        </div>

                        <div class="singlecard">
                            <div class="icondiv">
                                <i class="fa fa-envelope fa-lg"></i>
                            </div>
                            <div class="desdiv">
                                <h4>Email</h4>
                                <h5>workpointinfo@gmail.com</h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <form #contactForm='ngForm' (ngSubmit)='FormSubmit(contactForm.value)'>
                    <div class="formdiv">
                        <div class="container">
                            <h6>Send Message</h6>
                            <nz-input-group [nzPrefix]="prefixTemplateUser" class="mb-3">
                                <input type="text" name='name' ngModel #name='ngModel' required nz-input placeholder="Enter your name" />
                            </nz-input-group>
                            <small *ngIf="!name.valid && name.touched" class="text-danger">Name requried</small>
                            <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>

                            <nz-input-group [nzPrefix]="prefixTemplatemail" class="mb-3">
                                <input type="text" name="email" ngModel #email='ngModel' email required nz-input placeholder="Enter your Email" />
                            </nz-input-group>
                            <small *ngIf="!email.valid && email.touched" class="text-danger">Email requried</small>
                            <ng-template #prefixTemplatemail><i nz-icon nzType="mail" nzTheme="outline"></i>
                            </ng-template>

                            <textarea nz-input placeholder="Message" name='message' ngModel #message='ngModel' required
                                [nzAutosize]="{ minRows: 3, maxRows: 3 }" class="mb-3"></textarea>
                            <small *ngIf="!message.valid && message.touched" class="text-danger">Message requried</small>
                            <button nz-button  nzType="primary" [disabled]='!contactForm.valid' class="wp-button w-100" style="width: 100% !important;"
                                >
                                <i class="fa fa-send fa-lg"></i>&nbsp;Send
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3485.0191981086823!2d75.75309271447861!3d29.134624167930774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39123373ebcb075f%3A0x7dcebca34cf8fc63!2sMetropolis%20Mall!5e0!3m2!1sen!2sin!4v1614075301332!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>
</div>