@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
.select-service {
    background-color: #F9F9F9;
    padding: 30px 0px;
    .container{
    h1{
        font-family: @headingFont;
        text-align: left;
        text-transform: capitalize;
        font-size: 25px;
        padding: 20px 0px;
        letter-spacing: 1px;
        span{
            border-bottom: 2px solid  rgb(84, 233, 84);
        }
    }
}
button{
    font-family: @headingFont;
    font-size: 18px;
    letter-spacing: 1px;
    // text-align: center;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 30px !important;
    height: 50px !important;
    background-color: rgb(7, 119, 7);
    background-color: rgb(7, 119, 7);    text-transform: capitalize;
    }
    p{
        font-family: @headingFont;
        font-size: 18px;
        letter-spacing: 1px;
        // text-align: center;
        // display: block;
        // margin-left: auto;
        // margin-right: auto;
        margin-top: 30px !important;
        // height: 50px !important;   
        text-transform: capitalize;
    }
}