@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;

.feedback{
  background: rgb(26, 25, 25) !important;
  // opacity: .9;
  padding: 40px 0px;
  h1{
    text-align: center;
    font-family: @headingFont;
    letter-spacing: 1px;
    color: #fff;
    span{
      border-bottom: 2px solid  rgb(84, 233, 84);
  }
  }
  .container-fluid{
    .carousel{
      .carousel-inner{
        .carousel-item{
          .row{
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: row !important;

            .feedbackcard{
              .card{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: transparent;
                border:none;
                color: #fff;
                // box-shadow: 0px 5px 16px rgba(223, 241, 223, 0.5);
                // -webkit-box-shadow: -1px 1px 9px 6px rgba(247,239,247,1);
                // -moz-box-shadow: -1px 1px 9px 6px rgba(247,239,247,1);
                // box-shadow: -1px 1px 9px 6px rgba(247,239,247,1);
                transition: 1s;
                // background:#d6d7da !important;
                // background: url(../../../assets/clipart2685258.png) no-repeat;
                // background-position:center;
                // background-size: cover;
                // opacity:0.6;
                // filter:alpha(opacity=60);
                // z-index: -1;
                margin: 7px 30px;
                box-sizing: border-box;
                overflow: hidden;
                border-radius: 30px !important;
                padding: 20px 20px;
                .image{
                  img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    -webkit-box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  -moz-box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  }
                }
                .rating{
                  display: flex;
                  justify-content: center;
                  align-items:center ;
                  flex-direction: column;
                  h4{
                    font-family: @headingFont;
                    padding-top: 10px;
                    letter-spacing: 1px;
                    color: #fff;
                  }
                  h5{
                    font-family: @headingFont;
                    color: #fff;
                  }
                  .ratingstar{
                    i{
                      color: rgb(84, 233, 84);
                      margin: 0px 10px;
                    }
                  }
                }
                .description{
                  font-family: @textFont;
                  font-size: 15px;
                  line-height: 30px;
                  text-align: center;
                  text-transform: capitalize;
                  color: #fff;
                }
                &:hover{
                  -webkit-box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  -moz-box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  box-shadow: -1px 1px 9px 6px rgba(83,219,212,1);
                  // background: linear-gradient(#03a9f4,  rgb(84, 233, 84)) !important;
                  color: #fff !important;
                  h4,h5{
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}