<div class="payment_page">
    <div class="container">
        <h1>Payment</h1>
        <label for="">Payment To</label>
        <input class="form-control mb-3" type="text" value="{{paymentDetail.providerName}}" readonly name="" id="">
        <label for="">Work Description</label>
        <input class="form-control mb-3" type="text" value="{{paymentDetail.description}}" readonly name="" id="">
        <label for="">Work Location</label>
        <input class="form-control mb-3" type="text" value="{{paymentDetail.location}}" readonly name="" id="">
        <label for="">Amount To Pay</label>
        <input class="form-control mb-3" type="text" value="{{paymentDetail.workRate}}" readonly name="" id="">
        <label for="">Working Date</label>
        <input class="form-control mb-3" type="text" value="{{paymentDetail.workingDate }}" readonly name="" id="">

        <button class="btn btn success">
            <!-- PayPal payment form for displaying the buy button -->
            <form action="{{PAYPAL_URL}}" method="post">
               <!-- Identify your business so that you can collect the payments. -->
               <input type="hidden" name="business" value="{{PAYPAL_ID}}">   
               <!-- Specify a Buy Now button. -->
               <input type="hidden" name="cmd" value="_xclick">            
               <!-- Specify details about the item that buyers will purchase. -->
               <input type="hidden" name="item_name" value="{{paymentDetail.providerName}}">
               <input type="hidden" name="item_number" value="{{paymentDetail.providerName}}">
               <input type="hidden" name="amount" value="{{paymentDetail.workRate}}">
               <input type="hidden" name="currency_code" value="USD">
               <!-- Specify URLs -->
               <input type="hidden" name="return" value="http://localhost:4200/cancelPayment?rowId={{reqId}}&userId={{userId}}&paymentTo={{providerId}}&amt={{paymentDetail.workRate}}"> 
               <input type="hidden" name="cancel_return" value="http://localhost:4200/seller/requested-services"> 
               <!-- Display the payment button. -->
               <input class="imagebutton" type="image" name="submit" border="0" src="https://www.pikpng.com/pngl/b/545-5450899_go-to-payment-button-payment-button-clipart.png">
           </form>  
       </button>
    </div>
</div>
