@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
.selectForm{
    .row{
        h1{
            font-family: @headingFont;
            font-size: 20px;
        }
        label{
            font-family: @headingFont;
        }
    }
}