<div class="selectForm">
  <div class="row w-100 p-0 m-0">
    <h1>Fill Form</h1>
    <div class="col-md-12 mb-3">
      <label for="">Select Working Date</label>
      <nz-date-picker class="w-100" [(ngModel)]="date"  (ngModelChange)="onChange($event)"></nz-date-picker>
    </div>
    <div class="col-md-12 mb-3">
      <label for="">Enter Work Discription</label>
      <textarea [(ngModel)]="workDiscription"
        nz-input
        placeholder="Work discription"
        [nzAutosize]="{ minRows: 3, maxRows: 3 }"
      ></textarea>
    </div>
    <div
      class="col-md-12 mb-3"
      style="display: flex; justify-content: space-between; flex-direction: row"
    >
      <div>
        <label for="">Choose Start Time</label>
        <nz-time-picker
        [(ngModel)]="starttime" [nzUse12Hours]="true" (ngModelChange)="startlog($event)"
          nzFormat="h:mm a"
        ></nz-time-picker>
      </div>
      <div>
        <label for="">Choose End Time</label>
        <nz-time-picker
        [(ngModel)]="endtime" [nzUse12Hours]="true" (ngModelChange)="endlog($event)"
        nzFormat="h:mm a"
        ></nz-time-picker>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <!-- <label nz-checkbox>Use Previous Address</label><br /> -->
      <label for="">Enter Work location Address</label>
      <textarea
        [(ngModel)]="address"
        nz-input
        placeholder="Address"
        [nzAutosize]="{ minRows: 3, maxRows: 3 }"
      ></textarea>
    </div>
    <div
      class="col-md-12 mb-4"
      style="display: flex; justify-content: space-between; flex-direction: row"
    >
      <button nz-button style="height: 43px" (click)="closeDialog()">Close</button>
      <button *ngIf="!edit" nz-button type="submit" [disabled]='checkform()' class="wp-button" (click)="SaveData()"  style="height: 43px">
        Save
      </button>
      <button *ngIf="edit" nz-button type="submit" [disabled]='checkform()' class="wp-button" (click)="SaveData()"  style="height: 43px">
        Edit
      </button>
    </div>
  </div>
</div>
