@textFont: 'Open Sans', sans-serif;
@headingFont: 'Roboto Slab', serif;
.carousel{
 .carousel-inner{
     .carousel-item{
         .card{
             .card-body{
                 .container{
                     display: flex;
                     justify-content: space-between !important;
                     flex-direction: column;
                     padding-top: 10px;
                     h3{
                        color: #fff;
                        font-family: @headingFont;
                        font-size: 35px;
                        text-transform: capitalize;
                        letter-spacing: 1px;
                     }
                     p{
                         color: #fff;
                         font-family: @textFont;
                         text-transform: capitalize;
                         letter-spacing: 1px;
                         font-size: 17px;
                     }
                     .head{
                         color: rgb(84, 233, 84);
                     }
                     .btndiv{
                         .mybtn{
                             background-color:rgb(84, 233, 84) ;
                             color: #fff;
                             letter-spacing: 1px;
                             font-family: @headingFont;
                         }
                     }
                 }
             }
         }
     }
 }   
}