<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card p-0 m-0"
                style="background: url(../../../assets/xl.webp);background-position: 50%;background-size: cover;border-radius:0px;">
                <div class="card-body">
                    <div class="container">
                        <h3 class="head">In-demand talent</h3>
                        <h3 class="head">on demand.</h3>
                        <h3>Upwork is how.</h3>
                        <p>
                            Hire proven pros with confidence using the world’s largest,<br>
                            remote talent platform.
                        </p>
                        <div class="btndiv">
                            <button class="btn mybtn">Get Started</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <img src="../../../assets/xl.webp" class="d-block w-100" style="height: 300px;" alt="..."> -->
        </div>
        <div class="carousel-item">
            <div class="card p-0 m-0"
                style="background: url(../../../assets/xl2.webp);background-position: 50%;background-size: cover;border-radius:0px;">
                <div class="card-body">
                    <div class="container">
                        <h3 class="head">In-demand talent</h3>
                        <h3 class="head">on demand.</h3>
                        <h3>Upwork is how.</h3>
                        <p>
                            Hire proven pros with confidence using the world’s largest,<br>
                            remote talent platform.
                        </p>
                        <div class="btndiv">
                            <button class="btn mybtn">Get Started</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card p-0 m-0"
                style="background: url(../../../assets/xl3.webp);background-position: 50%;background-size: cover;border-radius:0px;">
                <div class="card-body">
                    <div class="container">
                        <h3 class="head">In-demand talent</h3>
                        <h3 class="head">on demand.</h3>
                        <h3>Upwork is how.</h3>
                        <p>
                            Hire proven pros with confidence using the world’s largest,<br>
                            remote talent platform.
                        </p>
                        <div class="btndiv">
                            <button class="btn mybtn">Get Started</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>