@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;
.paymentsuccess{
    padding: 50px 0px;
    background: url(../../../../../assets/payment.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 750px;
        -webkit-box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        -moz-box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        box-shadow: -2px 1px 5px 6px rgba(235, 235, 235, 1);
        padding: 20px;
        background-color: #fff;
        h1{
            font-family: @headingFont;
            text-align: center;
            font-size: 25px;
        }
        .mytable{
            table{
                font-family: @headingFont;
                font-size: 17px;
                letter-spacing: 1px;
                text-transform: capitalize;
                tr{
                border:  none !important;
                }
            }
        }
        .actionbutton{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

}