@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

[nz-menu] {
  // width: 285px;
}

.logoutbtn {
  color: red;
  // font-size: 25px;
}
.logo {
  display: flex;
  justify-content: center;
  background-color: #1d4354;
  align-items: center;
  a {
    font-size: 35px;
    font-family: @headingFont;
    letter-spacing: 1px;
  }
}
ul{
  border: none !important;
  background-color: #F9F9F9 !important;
  li{
    font-family: @headingFont;
    letter-spacing: 1px;
  }
}
.ant-menu-item-selected{
  background-color:  rgb(84, 233, 84) !important;
  color: #fff;
}
