<div *ngIf="userRole !== 'serviceprovider'">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <span style="color: rgb(84, 233, 84)">Work</span>
      <span style="color: #fff"> Point</span>
    </a>
  </div>
  <ul nz-menu nzMode="inline" style="margin-top: 20px" *ngIf="currentUser">
    <li nz-menu-item nzSelected>
      <i nz-icon nzType="profile" nzTheme="outline"></i>Profile
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="history" nzTheme="outline"></i>Work History
    </li>
    <li nz-menu-item (click)="onclick()">
      <a [routerLink]="['seller/requested-services']">
        <i nz-icon nzType="notification" nzTheme="outline"></i>Requested
        services</a
      >
    </li>
    <li nz-menu-item (click)="onclick()">
      <i nz-icon nzType="notification" nzTheme="outline"></i>Notification
    </li>
    <li nz-submenu nzTitle="Setting" nzIcon="setting">
      <ul>
        <li nz-menu-item>
          <a [routerLink]="['/service-provider/profile']">
            <i nz-icon nzType="edit" nzTheme="fill"></i>Edit Profile
          </a>
        </li>
        <li nz-menu-item (click)="onclick()">
          <a
            [routerLink]="['/changepassword']"
            [queryParams]="{ changepassword: true }"
          >
            <i nz-icon nzType="key" nzTheme="outline"></i>Change Password
          </a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="delete" nzTheme="outline"></i>Delete Account
        </li>
      </ul>
    </li>
    <li nz-menu-item class="logoutbtn" (click)="signout()">
      <!-- <button
        (click)="signout()"
        nz-button
        style="background-color: red; color: #fff"
      > -->
      <i nz-icon nzType="logout" nzTheme="outline"></i><span>LogOut</span>
      <!-- </button> -->
    </li>

    <!-- <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
      <ul>
        <li nz-menu-item>Option 5</li>
        <li nz-menu-item>Option 6</li>
        <li nz-submenu nzTitle="Submenu">
          <ul>
            <li nz-menu-item>Option 7</li>
            <li nz-menu-item>Option 8</li>
            <li nz-submenu nzTitle="Submenu">
              <ul>
                <li nz-menu-item>Option 9</li>
                <li nz-menu-item>Option 10</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li> -->
    <!-- <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
      </ul>
    </li> -->
  </ul>

  <!-- drwer for admin  -->
  <ul nz-menu nzMode="inline" style="margin-top: 20px" *ngIf="!currentUser">
    <li nz-menu-item nzSelected>
      <i nz-icon nzType="profile" nzTheme="outline"></i>Profile
    </li>
    <li nz-menu-item (click)="onclick()">
      <a [routerLink]="['/admin/category']">
        <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>Add Category
      </a>
    </li>

    <li nz-menu-item>
      <i nz-icon nzType="notification" nzTheme="outline"></i>Notification
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="profile" nzTheme="outline"></i>Users
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="notification" nzTheme="outline"></i>Request
    </li>
    <li nz-submenu nzTitle="Setting" nzIcon="setting">
      <ul>
        <li nz-menu-item (click)="onclick()">
          <a
            [routerLink]="['/changepassword']"
            [queryParams]="{ changepassword: true }"
          >
            <i nz-icon nzType="key" nzTheme="outline"></i>Change Password
          </a>
        </li>
      </ul>
    </li>
    <li nz-menu-item class="logoutbtn" (click)="signout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i><span>LogOut</span>
    </li>
  </ul>
</div>

<!-- serviceprovider -->

<div *ngIf="userRole === 'serviceprovider'">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <span style="color: rgb(84, 233, 84)">Work</span>
      <span style="color: #fff"> Point</span>
    </a>
  </div>
  <ul nz-menu nzMode="inline" style="margin-top: 20px">
    <li nz-menu-item (click)="onclick()">
      <a [routerLink]="['/service-provider/profile']">
        <i nz-icon nzType="profile" nzTheme="outline"></i>Profile</a
      >
    </li>
    <li nz-menu-item (click)="onclick()">
      <i nz-icon nzType="history" nzTheme="outline"></i>Work History
    </li>

    <li nz-menu-item (click)="onclick()">
      <i nz-icon nzType="notification" nzTheme="outline"></i>Notification
    </li>
    <li nz-menu-item (click)="onclick()">
      <a [routerLink]="['seller/requested-services']">
        <i nz-icon nzType="notification" nzTheme="outline"></i>Received
        request's</a
      >
    </li>
    <li nz-submenu nzTitle="Setting" nzIcon="setting">
      <ul>
        <li nz-menu-item (click)="onclick()">
          <a [routerLink]="['/service-provider/profile']">
            <i nz-icon nzType="edit" nzTheme="fill"></i>Edit Profile
          </a>
        </li>
        <li nz-menu-item (click)="onclick()">
          <a
            [routerLink]="['/changepassword']"
            [queryParams]="{ changepassword: true }"
          >
            <i nz-icon nzType="key" nzTheme="outline"></i>Change Password
          </a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="delete" nzTheme="outline"></i>Delete Account
        </li>
      </ul>
    </li>
    <li nz-menu-item class="logoutbtn" (click)="signout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i><span>LogOut</span>
    </li>
  </ul>
</div>
