<div class="serviceProvider">
    <div class="container">
        <h1>Register your self as service Provider</h1>
        <form #form='ngForm' (ngSubmit)='submitForm(form.value)'>
            <div class="row d-flex w-100">
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">First Name</label>
                    <nz-input-group [nzPrefix]="prefixTemplateUser">
                        <input type="text" ngModel name='firstName' #fname='ngModel' required nz-input
                            placeholder="Enter your first name" />
                    </nz-input-group>
                    <small *ngIf="!fname.valid && fname.touched" class="text-danger">First Name Required</small>
                    <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Last Name</label>
                    <nz-input-group [nzPrefix]="prefixTemplateUser">
                        <input type="text" ngModel name='lastName' #lname='ngModel' nz-input
                            placeholder="Enter your last name" />
                    </nz-input-group>
                    <small *ngIf="!lname.valid && lname.touched" class="text-danger">Last Name Required</small>
                    <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Email</label>
                    <nz-input-group [nzPrefix]="prefixTemplatemail">
                        <input type="email" ngModel name='email' #email='ngModel' email required nz-input
                            placeholder="Enter your email" />
                    </nz-input-group>
                    <small *ngIf="!email.valid && email.touched" class="text-danger">Enter Valid Email </small>
                    <ng-template #prefixTemplatemail><i nz-icon nzType="mail"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Mobile Number</label>
                    <nz-input-group [nzPrefix]="prefixTemplatemobile">
                        <input type="text" ngModel name='mobileNumber' (change)='clearErrorMessage()' #mobile='ngModel'
                            required nz-input placeholder="Enter your mobile number" />
                    </nz-input-group>
                    <small class="text-danger">{{errorMessage.mobileNumberError}}</small>
                    <small *ngIf="!mobile.valid && mobile.touched" class="text-danger">Mobile Number Required</small>
                    <ng-template #prefixTemplatemobile><i nz-icon nzType="mobile" nzTheme="outline"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Gender</label><br>
                    <nz-radio-group ngModel name='gender' #gender='ngModel' required>
                        <label nz-radio checked nzValue="male">Male</label>
                        <label nz-radio nzValue="female">Female</label>
                        <label nz-radio nzValue="transgender">Transgender</label>
                    </nz-radio-group><br>
                    <small *ngIf="!gender.valid && gender.touched" class="text-danger">Select Gender</small>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Aadhar Number</label>
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="text" ngModel name='aadharNumber' (change)='clearErrorMessage()'
                            #aadharNumber='ngModel' required nz-input placeholder="Enter your aadhar number" />
                    </nz-input-group>
                    <small class="text-danger">{{errorMessage.aadharNumberError}}</small>
                    <small *ngIf="!aadharNumber.valid && aadharNumber.touched" class="text-danger">Aadhar Number
                        Requried</small>
                    <ng-template #prefixTemplate><i nz-icon nzType="file-text" nzTheme="outline"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Password</label>
                    <nz-input-group [nzPrefix]="prefixTemplatepassword">
                        <input type="password" ngModel name="password" (change)='clearErrorMessage()'
                            #password='ngModel' required nz-input placeholder="Enter your password" />
                    </nz-input-group>
                    <small class="text-danger">{{errorMessage.passwordMatch}}</small>
                    <small *ngIf="!password.valid && password.touched" class="text-danger">Password Required</small>
                    <ng-template #prefixTemplatepassword><i nz-icon nzType="lock"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Confirm Password</label>
                    <nz-input-group [nzPrefix]="prefixTemplatepassword">
                        <input type="password" ngModel name="cpassword" (change)='clearErrorMessage()'
                            #cpassword='ngModel' required nz-input placeholder="Confirm your password" />
                    </nz-input-group>
                    <small *ngIf="!cpassword.valid && cpassword.touched" class="text-danger">Confirm Password
                        Requried</small>
                    <ng-template #prefixTemplatepassword><i nz-icon nzType="lock"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Skills</label><br>
                    <nz-select nzMode="multiple" name="skills" [(ngModel)]="skill" ngModel #skills='ngModel' required
                        nzShowSearch nzAllowClear nzPlaceHolder="Select a Skills" style="width: 100%;">
                        <div *ngFor="let item of subCat">
                            <nz-option-group nzLabel="{{item.serviceName}}">
                                <!-- <div *ngFor="let i of item.subService"> -->
                                <nz-option nzLabel="{{i.title}}" *ngFor="let i of item.subService"
                                    nzValue="{{i.key}}"></nz-option>
                                <!-- </div> -->
                            </nz-option-group>
                        </div>

                        <!-- <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option> -->
                    </nz-select>
                    <small *ngIf="!skills.valid && skills.touched" class="text-danger">Select Skill</small>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="">Current Address</label>
                    <textarea nz-input placeholder="Current Address" ngModel name="currentAddress"
                        #currentAddress='ngModel' required [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                    <small *ngIf="!currentAddress.valid && currentAddress.touched" class="text-danger">Current Address
                        Required</small>
                </div>
                <div class="col-md-6 col-sm-12 mb-3">
                    <label for="">Permanent Address</label>
                    <textarea nz-input placeholder="Permanent Address" ngModel name="permanentAddress"
                        #permanentAddress='ngModel' required [nzAutosize]="{ minRows: 3, maxRows: 3 }"></textarea>
                    <small *ngIf="!permanentAddress.valid && permanentAddress.touched" class="text-danger">Permanent
                        Address Requried</small>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">PinCode</label>
                    <nz-input-group [nzPrefix]="prefixTemplatezip">
                        <input type="text" ngModel name='postalCode' #postalCode='ngModel' required nz-input
                            placeholder="Enter your pincode" />
                    </nz-input-group>
                    <small *ngIf="!postalCode.valid && postalCode.touched" class="text-danger">Postal Code
                        Requried</small>
                    <ng-template #prefixTemplatezip><i class="fa fa-map-marker "></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">State</label>
                    <nz-select nzShowSearch ngModel name='state' #states='ngModel' required nzShowSearch nzAllowClear
                        nzPlaceHolder="Select your state" style="width: 100%;">
                        <nz-option nzLabel="Select State" nzValue=""></nz-option>
                        <nz-option *ngFor="let item of Statename" nzLabel="{{item.name}}" nzValue="{{item.name}}">
                        </nz-option>
                    </nz-select>
                    <small *ngIf="!states.valid && states.touched" class="text-danger">Select State</small>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Aadhar Card Image</label>
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="file" (change)='getAadharImage($event)' ngModel name='aadharImg'
                            #aadharImg='ngModel' required nz-input placeholder="" />
                    </nz-input-group>
                    <small *ngIf="!aadharImg.valid && aadharImg.touched" class="text-danger">Upload Aadhar Image</small>
                    <ng-template #prefixTemplate><i nz-icon nzType="file-text" nzTheme="outline"></i></ng-template>
                </div>
                <div class="col-md-4 col-sm-12 mb-3">
                    <label for="">Photo</label>
                    <nz-input-group [nzPrefix]="prefixTemplate">
                        <input type="file" (change)='getUserPhoto($event)' name='photo' ngModel #photo='ngModel'
                            required nz-input placeholder="" />
                    </nz-input-group>
                    <small *ngIf="!photo.valid && photo.touched" class="text-danger">Upload Photo Image</small>
                    <ng-template #prefixTemplate><i nz-icon nzType="file-text" nzTheme="outline"></i></ng-template>
                </div>

                <div class="col-md-12 col-sm-12"
                    style="display: flex;justify-content: space-between;flex-direction: row;flex-wrap: wrap;">
                    <div>
                        <button type="button" nz-button (click)='resetForm(form)'
                            style="height: 43px;float: right;width: 100px;">Reset</button>
                        <!-- <button type="button" nz-button class="" style="height: 43px;float: right;width: 100px;">Back</button> -->
                    </div>
                    <button nz-button type='submit' [disabled]='!form.valid' class="wp-button"
                        style="height: 43px;float: right;">Register</button>
                </div>
            </div>
    <!-- </div> -->
    </form>
</div>
</div>