@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;

.changepassword {
  .container {
    .row{
      h1{
        font-family: @headingFont;
        font-size: 35px;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    p{
      font-family: @textFont;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    }
}
}

