@textFont: "Open Sans", sans-serif;
@headingFont: "Roboto Slab", serif;
.checkoutPage{
    padding-bottom: 30px;
    .container{
        .maincheckoutPage{
            .slectedService{
                h1{
                    font-family: @headingFont;
                    text-align: center;
                    padding: 17px 0px;
                    font-size: 23px;
                }
                .showCard{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
            .actionbutton{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                button{
                    text-transform: capitalize;
                    font-family: @headingFont !important;
                    letter-spacing: 1px !important;
                    font-size: 16px;
                    height: 40px;
                }
            }
        }
    }
}
