<ws-slider></ws-slider>
<ws-select-service></ws-select-service>
<ws-feature></ws-feature>
<ws-feedback-slider></ws-feedback-slider>
<!-- <div class="d-flex justify-content-around mt-2 mb-2" >
    <ws-profile-info-card *ngFor="let profile of profileInfoDummy" [profileDetail]="profile"></ws-profile-info-card>
</div> -->
