<div class="error" style="background: url(../../../../assets/james-fitzgerald-h2Sp-CFF9Jc-unsplash.jpg);height: 100vh;
background-size: cover;background-position: center;">
    <div class="container jumbotron">
        <h1 class="text-danger">404 Error<br> Page Not Found</h1>
    </div>
</div>